/* Header & Navigation Styling */

.header {
  width: 100%;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

}

.nav-left,
.nav-right {
  display: flex;
  gap: 1rem;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
  color: #f8f9fa;
}

.nav-link:hover,
.nav-link.active {
  color: #ffffff;
  text-decoration: underline;
}

.logout-button {
  background-color: transparent;
  border: 1px solid #0077cc;
  color: #f8f9fa;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
}

.logout-button:hover {
  background-color: #f8f9fa;
  color: #343a40;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-image{
  width: 100%;
  height: auto;
  max-width: 300px;
  border-radius: 8px;
}